body {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h1 {
  font-size: 2.1875rem;
  line-height: 3.375rem;
  margin: 1.6875rem 0;
}

h2 {
  font-size: 1.75rem;
  line-height: 3.375rem;
  margin: 1.6875rem 0;
}

h3 {
  font-size: 1.4375rem;
  line-height: 1.6875rem;
  margin: 1.6875rem 0;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  margin: 1.6875rem 0;
}

p, ul, ol, pre, table, blockquote {
  margin: 1.6875rem 0;
}
